soapServer_noHolders/testServiceNoHolders.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="TestServiceService" targetNamespace="http://soapserver.noholders/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soapserver.noholders/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://soapserver.noholders/" version="1.0" xmlns:tns="http://soapserver.noholders/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="serviceMethodRequest" type="tns:serviceMethodRequest"/>
      <xs:element name="serviceMethodResponse" type="tns:serviceMethodResponse"/>
      <xs:complexType name="serviceMethodRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="intA" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceMethodResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="tns:serviceResponse"/>
          <xs:element minOccurs="0" name="attachment" type="xs:base64Binary"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="myInt" type="xs:int"/>
          <xs:element minOccurs="0" name="myBool" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="serviceMethodOutput">
    <wsdl:part name="outputParameters" element="tns:serviceMethodResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="serviceMethodInput">
    <wsdl:part name="inputParameters" element="tns:serviceMethodRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TestService">
    <wsdl:operation name="serviceMethod">
      <wsdl:input message="tns:serviceMethodInput" name="testServicePortInput">
      </wsdl:input>
      <wsdl:output message="tns:serviceMethodOutput" name="testServicePortOutput">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestServiceServiceSoapBinding" type="tns:TestService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="serviceMethod">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="testServicePortInput">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="testServicePortOutput">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestServiceServicePorts">
    <wsdl:port binding="tns:TestServiceServiceSoapBinding" name="TestServicePort">
      <soap:address location="http://localhost:8084/soapServerNoHolders/services/test"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
